.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.sp-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between
}

.sp-evenly {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -moz-box-pack: space-evenly;
    justify-content: space-evenly
}

.sp-around {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around
}

.hor-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center
}

.hor-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    justify-content: flex-end
}

.hor-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    justify-content: flex-start
}

.vert-center {
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
    align-content: center
}

.vert-bottom {
    -ms-flex-line-pack: end;
    -webkit-align-content: flex-end;
    align-content: flex-end
}

.vert-top {
    -ms-flex-line-pack: start;
    -webkit-align-content: flex-start;
    align-content: flex-start
}

.parent-height {
    min-height: 100%
}

.em3 {
    font-size: 3em
}

.em2-5 {
    font-size: 2.5em
}

.em2 {
    font-size: 2em
}

.em1-5 {
    font-size: 1.5em
}

.bg-orange {
    background-color: #ff9a14
}

.bg-light-grey {
    background-color: #f5f4f9
}

.border-black {
    border-color: #000
}

.border-right-1 {
    border-right: 1px solid
}

.border-left-1 {
    border-left: 1px solid
}

.border-bottom-1 {
    border-bottom: 1px solid
}

.border-1 {
    border: 1px solid
}

.border-2 {
    border: 2px solid
}

.carousel-cell {
    width: 100%;
    max-height: 300px;
    height: 100%
}

.flickity-page-dots {
    display: none
}

.b-carousel__img {
    width: 100%
}

.glider-next, .glider-prev {
    top: 50% !important;
    color: #fff !important
}

.glider-prev {
    left: 5px !important
}

.glider-next {
    right: 5px !important
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none
}

.marged-bottom {
    margin-bottom: 15px
}
