.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.sp-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.sp-evenly {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.sp-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.hor-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.hor-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.hor-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.vert-center {
    -ms-flex-line-pack: center;
    align-content: center;
}

.vert-bottom {
    -ms-flex-line-pack: end;
    align-content: flex-end;
}

.vert-top {
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.parent-height {
    min-height: 100%;
}

.em3 {
    font-size: 3em;
}

.em2-5 {
    font-size: 2.5em;
}

.em2 {
    font-size: 2em;
}

.em1-5 {
    font-size: 1.5em;
}


.bg-orange {
    background-color: #ff9a14;
}

.bg-light-grey {
    background-color: #f5f4f9;
}

.border-black {
    border-color: black;
}

.border-right-1 {
    border-right: solid 1px;
}

.border-left-1 {
    border-left: solid 1px;
}

.border-bottom-1 {
    border-bottom: solid 1px;
}

.border-1 {
    border: solid 1px;
}

.border-2{
    border: solid 2px;
}

.carousel-cell {
    width: 100%; /* full width */
    max-height: 300px;
    height: 100%;
}

.flickity-page-dots {
    display: none;
}

.b-carousel__img {
    width: 100%;
}

.glider-prev,
.glider-next {
    top: 50% !important;
    color: white!important;
}

.glider-prev {
    left: 5px!important;
}

.glider-next {
    right: 5px !important;
}
