body {
    margin: 0 auto;
    background-color: #f5f4f9;
}
*, *:after, *:before {
    font-family: 'Roboto', sans-serif;
}

.content-wrapper {

}

.page-header {
    padding: 10px;
    margin-top: 2%;
}

.contacts a {
    display: block;
    text-decoration: none;
    color: black;
}

.head-name {
    font-size: 2.3em;
}

.address {

}

.book-nav-bar {
    background-color: #ffeb3d;
    padding-top:2px;
    padding-bottom:2px;
}

.head-container-date {
    background-color: #ffffff;
    border-radius: 5px;
    border: black solid 2px;
}

.room-list {
    width: 100%;
    padding-top: 25px;
}

.img-holder {
    background-size: 100% 100%;
    height: 50px;
    width: 93%;
}

.head-third-stg,
.head-second-stg {
    display: none;
}

.head-first-stg {
    background-size: 100% 100%;
    flex-grow: 1;
    height: 50px;
    font-size: 0.8em;
    background-image: url(../images/solo-bar-1.svg);
}

.head-container {

}

/*Экстрамалые девайсы («телефоны», < 576px) */
.content {
    width: 100%;
}
.marks {
    display: none;
}

.head-block-padding {
    padding-left: 4px;
    padding-right: 4px;
}

.room-scroller {
    width: 93%;
}

.green-button-price {
    border: none;
    outline: none;
    background-color: #369f40;
    color: #ffffff;
    padding: 5px;
    transition: 0.3s;
    font-size: 1.2em;
    cursor: pointer;
}

.green-button-price:hover {
    background-color: #34883e;
}

.green-button-price:active {
    background-color: #1e4f25;
}

.room-card {

}
.room-card-img {
    background-color: aquamarine;
    max-width: 350px;
    width: 100%;
    height: 250px;
}
.room-card-img-hl {
    width: 100%;
}
.room-card-data {
    margin-left: 20px;
    width: calc(100% - 350px);
    height: 250px;
}
.room-card-header {
    padding-top: 10px;
    font-size: 1.5em;
    width: 100%;
    padding-bottom: 10px;
}
.room-card-body {
    font-size: 1.3em;
    transition: 0.3s;
}
.room-card-price-hl {
    height: 20%;
    padding-bottom: 20px;
    padding-top: 20px;
    flex-direction: column;
}
.room-card-price {
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    flex-direction: column;
}
.room-card-price-btn-hl {
    width: 100%;
    height: 100%;
}
.room-card-price-green {
    color: #369f40;
    height: 50%;
}
.room-card-price-red {
    color: #ff3e19;
    height: 50%;
}
.room-card-price-summary {
    padding-right: 5px;
    color: #369f40;
    font-size: 1.2em;
    font-weight: bold;
}
.room-card-price-button {
    padding-left: 5px;
    text-decoration: none;
    display: block;
}
.card-body-expander {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    color: #a2979a;
}
.card-header-expander {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    color: #a2979a;
    font-size: 0.5em;
}

.carousel-wp {
    width: 100%;
    height: 100%;
}

.warn-no-aparts {
    height: 100px;
    font-style: italic;
    color: gray;
    flex-direction: column;
}

.chose-dates-warn {
    display: block;
    align-self: center;
    text-align: center;
    font-style: initial;
    border-radius: 5px;
    background-color: #0095d9;
    color: white;
    padding: 5px;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.chose-dates-warn:hover {
    background-color: #0067a1;
}
.chose-dates-warn:active {
    background-color: #00406c;
}

/*Малые девайсы («ландшафтные телефоны», >= 576px)*/
@media (min-width: 576px) {
    .head-container-date-len {
        display: flex;
    }
}

.head-second-stg a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    color: black;
}

.dates-link {
    cursor: pointer;
    height: 100%;
    text-decoration: none;
    color: black;
}

/*Средние девайсы («таблетки», >= 768px)*/
@media (min-width: 768px) {
    .back-button {
        display: none;
    }
    .carousel-wp {

    }
    .warn-no-aparts {
        height: 120px;
        font-size: 2em;
        font-style: italic;
        color: gray;
    }
    .carousel-cell {
        max-height: 250px;
    }
    .b-carousel__img {
        max-height: 250px;
    }
    .head-name {
        font-size: 2.5em;
    }
    .marks {
        display: flex;
    }
    .img-holder {
        flex-wrap: nowrap;
        background-image: url(../images/bar.svg);
    }
    .head-container-date-len {
        display: none;
    }
    .head-third-stg,
    .head-second-stg {
        display: flex;
    }
    .head-container {
        width: calc(100% / 3);
    }
    .head-first-stg {
        background-image: none;
        background-size: 0 0;
        height: 30px;
        font-size: 0.8em;
    }
    .room-card {

    }
    .room-card-img {
        background-color: aquamarine;
        width: 95%;
        height: 100%;
    }
    .room-card-img-hl {
        width: 320px;
        height: 250px;
    }
    .room-card-data {
        width: calc(100% - 390px);
        height: unset;
    }
    .room-card-header {
        font-size: 2em;
        flex-grow: 2;
        padding: 0px;
    }
    .room-card-body {
        font-size: 1.3em;
        flex-grow: 5;
    }
    .room-card-price-hl {
        flex-direction: row;
        padding: 0px;
        flex-grow: 1;
        height: unset;
    }
    .room-card-price {
        width: -moz-fit-content;
        width: fit-content;
        max-width: 50%;
        height: 100%;
        flex-direction: column;
        font-size: 1.5em;
    }
    .room-card-price-btn-hl {
        width: 50%;
        height: 100%;
    }
    .room-card-price-green {
        color: #369f40;
        height: 50%;
    }
    .room-card-price-red {
        color: #ff3e19;
        height: 50%;
    }
    .room-card-price-summary {
        padding-right: 5px;
        color: #369f40;
        font-size: 2em;
    }
    .room-card-price-button {

    }
}

/*Большие девайсы (десктопы, >= 992px)*/
@media (min-width: 992px) {
    .head-container-date-len {
        display: none;
    }
    .head-container {
        height: 20px;
        font-size: 0.9em;
    }
    .content {
        width: 96%;
    }
    .img-holder {
        background-image: url(../images/bar.svg);
        height: 40px;
    }
    .head-container {
        height: 40px;
    }
}

/*Экстрабольшие девайсы (большие десктопы, >= 1200px)*/
@media (min-width: 1200px) {
    .head-container-date-len {
        display: flex;
    }
    .img-holder {
        background-image: url(../images/bar.svg);
        height: 50px;
    }
    .room-list {

    }
    .head-container {
        height: 50px;
        display: flex;
    }
}


