.table {
    display: table!important;
}

.table-cell {
    display: table-cell!important;
}

.table-cell-1 {
    width: 26%;
}

.book-nav-bar {
    height: 50px;
}

.deny-button {
    background-color: #969696;
    outline: none;
    color: #dcdcdc;
    font-size: 1.1em;
    border-radius: 5px;
    border: #767676 solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.deny-button:hover {
    background-color: #767676;
}
.deny-button:active {
    background-color: #666666;
}

.no-reserv {
    height: unset!important;
}

@media (min-width: 768px) {
    .input-block {
        width: 50%;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -moz-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    .user-data-col1 {
        width: 60%;
        margin-right: 3%;
        height: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .form-input {
        padding: 0;
        border: none;
    }
    .form-notes {
        padding: 0!important;
        border: none!important;
    }
    .book-nav-bar {
        height: 30px;
    }
    .input-block-wide {
        width: 50%;
        -webkit-box-flex: 4;
        -webkit-flex-grow: 4;
        -moz-box-flex: 4;
        -ms-flex-positive: 4;
        flex-grow: 4;
    }
    .wide-wrapper {
        border: none;
    }
}

@media (min-width: 1200px) {
    .book-nav-bar {
        height: 50px;
    }
}
