*, *:after, *:before {
    font-family: 'Roboto', sans-serif;
}

.datepicker__wrapper {
    position: absolute!important;
}

.widget-wrapper {
    width: 100%;
    height: 270px;
    background-color: #febb02;
}

.widget-subm-info {
    width: -moz-calc(100% - 5px);
    width: calc(100% - 5px);
    padding-left: 5px;
    margin-top: 5px;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}
.widget-subm-button {
    margin-top: 10px;
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.widget-subm-button a {
    display: block;
    width: 100%;
    background-color: #0095d9;
    color: #ffffff;
    border-radius: 6px;
    border: #f2f3e6 solid 1px;
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 5px;
    outline: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.widget-subm-button a:hover {
    background-color: #0067a1;
}
.widget-subm-button a:active {
    background-color: #00406c;
}

.widget-subm-button a {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

.widget-subm-info-ex {
    margin-left: 10px;
    border-radius: 50px;
    background-color: black;
    color: white;
    padding-left: 6px;
    padding-right: 6px;
    cursor: pointer;
}

.widget-details {
    display: none;
}

.widget-date-end,
.widget-date-begin {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.widget-inputs {
    width: 90%;
}
.widget-submission {
    width: 90%;
}

.widget-label {
    width: 100%;
}

#start-date,
#end-date {
    outline: none;
    width: 100%;
    font-size: 1.3em;
    border-radius: 6px;
    margin-bottom: 20px;
    padding-left: 10px;
    background-color: white;
}

.datepicker {
    width: 98%;
}

@media (min-width: 576px) {

}

/*Средние девайсы («таблетки», >= 768px)*/
@media (min-width: 768px) {
    .widget-wrapper {
        height: 200px;
    }
    .widget-wrapper {
        width: 95%;
    }
    .widget-inputs {
        width: -moz-calc(65% - 40px);
        width: calc(65% - 40px);
        height: 95%;
        padding-left: 30px;
        padding-right: 10px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .widget-submission {
        width: -moz-calc(35% - 10px);
        width: calc(35% - 10px);
        padding-right: 10px;
        height: 95%;
    }

    .widget-dates,
    .widget-details,
    .widget-organs {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .widget-dates {
        height: 30%;
    }
    .widget-details {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .widget-organs {
        margin-top: 2%;
    }

    .widget-details select {
        height: 35px;
        margin-right: 2%;
        border-radius: 6px;
        font-size: 1.3em;
        width: 40%;
        padding-left: 15px;
        outline: none;
    }

    .widget-date-end,
    .widget-date-begin {
        width: 45%;
    }
    .widget-label {
        font-size: 1.3em;
        display: block;
    }
    #start-date,
    #end-date {
        margin-bottom: unset;
    }
    .widget-subm-info {
        width: 90%;
        padding-left: 5px;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .widget-subm-button {
        margin-top: 5px;
        width: 90%;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .widget-subm-button a {
        width: 100%;
    }
}

/*Большие девайсы (десктопы, >= 992px)*/
@media (min-width: 992px) {

}

/*Экстрабольшие девайсы (большие десктопы, >= 1200px)*/
@media (min-width: 1200px) {

}
